#username {
  color: black;
}
* {
  box-sizing: border-box;
}
p{
color:black;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.6em;
  margin: 0;
}
img{
	width : 270px;
	height: 150px;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

a {
  color: #0096D0;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1.5em;
}
p, label{
	color : white;
}
.scales1{
	color : black;
}

h1 {
  color: #40CCEA;
  text-align: center;
  font-size: 4.5rem;
  word-spacing: 10px;
  border-bottom: 1px dotted;
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2.5rem;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header nav {
  background-color: #40CCEA;
  padding: 10px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav li {
  flex-basis: 20%;
}

header nav a {
  color: #FFF;
  padding: 1px 3%;
}

header nav a:hover {
  opacity: 0.8;
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-left {
  float: left;
  margin-right: 2%;
}

.img-right {
  float: right;
  margin-left: 2%;
}

.clear {
  clear: both;
}

hr {
  border: 0;
  border-top: 1px solid;
}

.rouge {
  color: #F00;
}

.ocre {
  color: #CD8C56;
}

a.readmore {
  background-color: #0096D0;
  color: #FFF;
  padding: 0.5em 1em;
  border-radius: 6px;
}

#carnets article {
  margin-bottom: 25px;
}

#carnets article img {
  max-width: 49%;
}

#apropos {
  background-image: url('../img/fond.jpg');
  background-position: center;
  background-size: cover;
  padding: 40px 0;
}

#apropos article {
  background-color: #FFF;
  width: 50%;
  padding: 2%;
  box-sizing: border-box;
}

.tab{
  width: 120%;
  border-collapse: collapse;
  border: 1px solid white;
  border-style:hidden;
}

tr:nth-child(even) {
  background-color: #EEE;
}

th, td {
  border: 1px solid #CCC;
  padding: 1em;
  width :35%;
}

/* *****************************************************************
FORM
***************************************************************** */

form {
  background-color: #444;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 2em;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.col {
  flex-basis: 48%;
}

/* Style pour une barre d'outils => ou placer les boutons */
.toolbar {
	padding: 1em 2em;
	text-align: center;
}

/* Style de chaque ligne (field) */
input {
	margin-bottom: 1em;
}

/* Style de chaque libélé */
label {
  display: block;
}

/* Style de chaque input */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	display: block;
  width: 100%;
	padding: 0.65em 1em;
	font-size: 1.6rem;
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0.5em;
}
textarea {
	width: 100%;
	min-height: 10em;
}

/* Style de chaque bouton */
.button {
	display: inline-block;
	padding: 0.8em 2em;
	font-size: 1.6rem;
	color: #fff;
	background-color: #0096D0;
	border: 2px solid #0096D0;
	border-radius: 0.5em;
	cursor: pointer;
}

.button:hover {
	text-decoration: none;
	color: #0096D0;
	background-color: #fff;
}

.fa-facebook-square {
  color: #4267B2;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-pinterest-square {
  color: #bd081c;
}

.fa-instagram-square {
  color: #b900b4;
}

footer {
  text-align: center;
  background-color: #40CCEA;
  color: #FFF;
  padding: 1% 2%;
}

footer a {
  color: #FFF;
  text-decoration: underline;
}

footer img {
  width: 60px;
}
label{
    vertical-align:middle;
	
}
.label1{
	color : black;
}